/* fontes */
@font-face {
  font-family: 'fontiii';
  src: url('/fonte-estilo-frontend.otf') format('opentype');
  font-weight: bold;
}

#root {
  height: 100vh;
  width: 100vw;
  margin: 0 ;
  text-align: center;
  
}

header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.escolhas {
  display: inline;
  margin: 0 10rem;
}

.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu-item {
  margin: 0 0.3rem;
  font-size: 1.1rem;
}

.menu-item a {
  text-decoration: none;
  color: rgb(42, 9, 85);
}

.menu-item {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  z-index: 2;
}

/* Linha de baixo */
.menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Linha de cima */
.menu-item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

/* Quando o mouse passa, as linhas crescem */
.menu-item:hover::after {
  width: 100%;
  left: 0;
}

.menu-item:hover::before {
  width: 100%;
  right: 0;
}